:root {
  --button-dynamic: #03e9f4;
}

/*Default colors*/
$error: #fc5c65;
$blue: #1c6ea4;
$light-blue: #03e9f4;
$white: #ffffff;
$black: #000000;

/*Default shadows*/
$default-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.6);

/*
-Dynamic variables
-Has to be declared in the :root as well
*/
$buttondynamic: var(--button-dynamic);
