:root {
  --button-dynamic: #03e9f4;
}

/*Default colors*/
$error: #fc5c65;
$watermelon: #ff4757;
$blue: #1c6ea4;
$light-blue: #03e9f4;
$blue-boyzone: #2d98da;
$yellow: #fed330;
$orange: #fa8231;
$green: #26de81;
$white: #ffffff;
$black: #000000;
$check-box: #2d98da;

/*Default shadows*/
$default-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.6);
$default-box-shadow-nav: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 1);

/*Default font*/
$default-font: "Architects Daughter", sans-serif;

/*
-Dynamic variables
-Has to be declared in the :root as well
*/
$buttondynamic: var(--button-dynamic);
