<div class="formfield" (click)="_control.onContainerClick($event)">
  <div class="formfield-label">
    <span
      class="formfield-label-content"
      [ngClass]="{
        error:
          _control.ngControl.errors &&
          _control.ngControl.invalid &&
          !_control.disabled &&
          (_control.ngControl.dirty || _control.ngControl.touched)
      }"
    >
      {{ label ? label : "" }}
    </span>
    <span
      class="formfield-label-required"
      *ngIf="_control.required && !_control.disabled"
    >
      *
    </span>
  </div>
  <div class="formfield-content">
    <ng-content></ng-content>
  </div>
  <ng-container
    *ngIf="
      _control.ngControl.errors &&
      _control.ngControl.invalid &&
      (_control.ngControl.dirty || _control.ngControl.touched)
    "
  >
    <div class="error">
      {{ _control.ngControl.errors | errorHandle }}
    </div>
  </ng-container>
</div>
