/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Shadows+Into+Light&display=swap");
@import "mixings";
@import "variables";
@import "flex";

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  // 1 rem = 10px
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  background: linear-gradient(#263b60, #243b55);
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.error {
  color: $error;
}
