<myapp-layout-middle>
  <myapp-panel-middle>
    <myapp-panel>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <myapp-form-field label="UserName">
          <myapp-input formControlName="test"></myapp-input>
        </myapp-form-field>
        <myapp-form-field label="Password">
          <myapp-input formControlName="test2" type="password"></myapp-input>
        </myapp-form-field>
        <div class="flex-sbtw">
          <myapp-button type="submit" title="Submit"></myapp-button>
          <myapp-button
            type="button"
            title="other"
            dynamicColor="#fc5c65"
            [disabled]="true"
          ></myapp-button>
        </div>
      </form>
    </myapp-panel>
  </myapp-panel-middle>
</myapp-layout-middle>
